
<div class="app__content">
  <form class="form">
    <div class="form__row">
      <label for="username">Usuario</label>
      <input class="form__row__input" type="text" name="username" value="">
    </div>
    <div class="form__row">
      <label for="email">Email</label>
      <input class="form__row__input" type="email" name="email" value="">
    </div>
    <div class="form__row">
      <label for="password">Password</label>
      <input class="form__row__input" type="password" name="password" value="">
    </div>
  </form>
</div>
